@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Esteban&family=Roboto&display=swap');

body{
    font-family: 'Esteban', serif;
    padding: 0px;
    margin: 0px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#screen{
    width: 375px;
    height: 730px;
    border-radius: 39px;
    background: #4D4DFF;
    margin-top: 10px;
}
#screen div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
}
.logo{
    width: 400px;
}
#launch{
    width: 126px;
    height: 42px;
    border-radius: 10px;
    background-color: #121313;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Esteban;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
#launch:hover{
    background-color: transparent;
    border: 2px solid white;
}
.vers{
    margin-top: 290px;
    margin-left: 250px;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#screen2{
    width: 375px;
    height: 730px;
    border-radius: 39px;
    background-color: #FFF;
    margin-top: 10px;
    transition: all 0.8s;
}
.l-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-right: 23px;
}
.bright{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.logo3{
    width: 140px;
}
.people{
    color: #4D4DFF;
    text-align: center;
    font-family: Esteban;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.count{
    color: #121313;
    text-align: center;
    font-family: Esteban;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 28px;
    margin-bottom: 0px;
}
#screen3{
    display: none;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#btn-add, #btn-save{
    width: 131px;
    height: 137px;
    border-radius: 10px;
    background: #4D4DFF;
    color: #FFF;
    text-align: center;
    font-family: Esteban;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-bottom: 35px;
    cursor: pointer;
    transition: all 0.4s;
}
#btn-add:hover, #btn-save:hover{
    background: #2626c4;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    margin-left: 12px;
}
#logs{
    color: #4D4DFF;
    text-align: center;
    font-family: Esteban;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.prev{
    color: #121313;
    text-align: center;
    font-family: Esteban;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
}
