@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Esteban&family=Roboto&display=swap');
*{
    user-select: none;
}
body{
    font-family: 'Esteban', serif;
    padding: 0px;
    margin: 0px;
    height: 90%;
    background-color: #121313;
    animation: opaqueIn 2s;
}
.l-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.logo2{
    width: 120px;
}
.bright{
    width: 40px;
    height: 37px;
    cursor: pointer;
    display: none;
}
#screen2{
    width: 98vw;
    height: 60vh;
    padding: 0px;
    display: flex;
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p-count{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 30px;
}
.people{
    color: #4D4DFF;
    text-align: center;
    font-family: Esteban;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
}
.count{
    color: #FFF;
    font-family: Esteban;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    width: fit-content;
    align-self: center;
    padding: 0px;
    margin: 0px;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 90px;
}
#btn-add, #btn-save, #reloadButton{
    width: 131px;
    height: 137px;
    border-radius: 10px;
    background: #4D4DFF;
    color: #FFF;
    text-align: center;
    font-family: Esteban;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-bottom: 35px;
    cursor: pointer;
    transition: all 0.4s;
}
#btn-add:hover, #btn-save:hover, #reloadButton:hover{
    background: #2626c4;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    
    width: 98vw;
    height: 5px;
}
#logs{
    color: #4D4DFF;
    text-align: center;
    font-family: Esteban;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-inline: 30px;
}
.prev{
    color: #FFF;
    text-align: center;
    font-family: Esteban;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
}




@media (max-width: 1800px) {
    .l-nav{
        padding: 20px 50px;
    }
}
@media (max-width: 650px) {
    .btns div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    #desktop-view{
        display: none;
    }
    #reloadButton{
        display:none;
    }
    .count{
        color: #FFF;
        font-family: Esteban;
        font-size: 50px;
    }
    .people{
        font-size: 24px;
    }
}
@media (min-width: 651px) {
    #mobile-view{
        display: none;
    }
}

@keyframes opaqueIn {
    from {
         opacity: 0;      
    }
    
    to {
         opacity: 1;      
    }
 }
